:root {
  --light-grey: #FBFBFB;
  --light-grey-2: #F2F2F2;
  --dark-grey: #757575;
  --dark-grey: #333333;
  --text-color: #333333;
  --red: #FF3366;
  --orange: #F16F24;
  --yellow: #F3CA3E;
  --primary: #3399FF;
}
