@import "colors";

p,
h2,
h1,
h3 {
  color: var(--text-color);
}

.avatar-fallback {
  background-color: var(--light-grey-2);
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

button {
  border: 0;
  background: none;
}

.disease-modal {
  --width: 85%;
  --height: 60%;
  --border-radius: 8px;

  @include small-mobile() {
    --width: 95%;
    --height: 80%;
  }

  @include iphone() {
    --width: 95%;
    --height: 65%;
  }
}
