.add-activity {
  &__disease {
    background-color: var(--red);
  }

  &__check-in {
    background-color: var(--primary);
  }

  &__check-out {
    background-color: var(--dark-grey-2);
  }

  &__check-in,
  &__check-out,
  &__disease {
    padding: 1rem;
    color: white;
    transition: opacity .1s ease-in;

    ion-icon {
      font-size: 1.5rem;
      vertical-align: text-bottom;
      margin-right: 0.5rem;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 30;

    ion-tab-bar {
      --background: var(--light-grey);
      --border: 1px solid var(--light-grey-2);
      min-height: 65px;
    }

    ion-tab-button {
        --color-selected: var(--primary)
    }
  }
}

.label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h {
  transform: none;
  font-weight: bold;
}

ion-datetime, ion-select {
  width: 100%;
  text-align: end;
}

ion-fab-button {
  --background: var(--primary);
  margin-bottom: 85px;
}
