<app-bottom-sheet #bottomSheet title="Aktivität erfassen" class="add-activity" (closed)="handleSheetClosed()">
  <ion-grid class="m-b-20">
    <ion-row>
      <ion-col class="add-activity__disease" (click)="diseaseDetected()">
        <ion-icon name="fitness-outline"></ion-icon>
        <span>Krankheit festgestellt</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="add-activity__check-in" (click)="checkIn()">
        <ion-icon name="home-outline"></ion-icon>
        <span>Check In</span>
      </ion-col>
      <ion-col size="6" class="add-activity__check-out" (click)="checkOut()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Check Out</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="add-activity__content">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="selectedTab === addActivityTabs.transport">
        <app-transport-form (submitted)="handleSubmit($event)"></app-transport-form>
      </ng-container>
      <ng-container *ngSwitchCase="selectedTab === addActivityTabs.contact">
        <app-contact-form (submitted)="handleSubmit($event)"></app-contact-form>
      </ng-container>
      <ng-container *ngSwitchCase="selectedTab === addActivityTabs.note">
        <app-note-form (submitted)="handleSubmit($event)"></app-note-form>
      </ng-container>
      <ng-container *ngSwitchCase="selectedTab === addActivityTabs.activity">
        <app-activity-form (submitted)="handleSubmit($event)"></app-activity-form>
      </ng-container>
    </ng-container>
  </div>

  <div class="add-activity__footer">
      <ion-tab-bar>
        <ion-tab-button 
        [ngClass]="getSelectedColor()"
        [selected]="selectedTab === addActivityTabs.transport"
        (click)="selectTab(addActivityTabs.transport)">
          <ion-icon name="car-outline"></ion-icon>
          <ion-label>Unterwegs</ion-label>
        </ion-tab-button>
    
        <ion-tab-button 
        [ngClass]="getSelectedColor()"
        [selected]="selectedTab === addActivityTabs.contact" 
        (click)="selectTab(addActivityTabs.contact)">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Kontakt</ion-label>
        </ion-tab-button>
    
        <ion-tab-button 
        [ngClass]="getSelectedColor()"
        [selected]="selectedTab === addActivityTabs.note"
        (click)="selectTab(addActivityTabs.note)">
          <ion-icon name="pencil-sharp"></ion-icon>
          <ion-label>Notiz</ion-label>
        </ion-tab-button>
    
        <ion-tab-button 
        [ngClass]="getSelectedColor()"
        [selected]="selectedTab === addActivityTabs.activity"
        (click)="selectTab(addActivityTabs.activity)">
          <ion-icon name="analytics"></ion-icon>
          <ion-label>Aktivität</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
  </div>

</app-bottom-sheet>