<ion-header class="toolbar--default">
  <ion-toolbar>
    <ion-title>{{'pages.settings.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page--default">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{'pages.settings.generalCategory' | translate}}</ion-label>
    </ion-item-divider>

    <ion-item lines="full">
      <ion-label>{{'pages.settings.dailyNotification' | translate}}</ion-label>
      <ion-checkbox slot="end" (ionChange)="handleNotificationSetting($event)" [checked]="notificationsEnabled">
      </ion-checkbox>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>{{'pages.settings.about' | translate}}</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>{{'pages.settings.dev' | translate}}</ion-label>
      <ion-text slot="end">Timon Grassl</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>App Icon</ion-label>
      <ion-text slot="end">Hea Poh Lin - Noun Project</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Version</ion-label>
      <ion-text slot="end">1.0.1</ion-text>
    </ion-item>
  </ion-item-group>

  <div class="made-with-love">
    Made with
    <ion-icon name="heart"></ion-icon> 
    for #WirvsVirusHackathon
  </div>
</ion-content>