<ion-grid class="disease-check__container">
  <div>
    <div class="disease-check-header">
      <div class="disease-check-header__close" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </div>
      <h4 class="disease-check-header__title">Krankheit</h4>
    </div>
    <div class="disease-check__content">
      <form [formGroup]="diseaseFormGroup">
        <ion-list lines="none">
          <ion-item>
            <ion-label class="label-thin">Art der Krankheit</ion-label>
            <ion-select placeholder="Auswählen" formControlName="diseaseType" okText="Ok" cancelText="Abbrechen">
              <ion-select-option [value]="type.value" *ngFor="let type of diseaseTypes | keyvalue">{{type.value}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-row>
              <ion-col size="12">
                <div class="disease-check__wrap-item">
                  <ion-text>
                    Wann traten erste Symptome auf?
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-datetime [monthShortNames]="monthNames" displayFormat="DD.MM.YY HH:mm" pickerFormat="DD.MMM.YYYY HH:mm" placeholder="Datum" cancelText="Abbrechen" doneText="Fertig"
              formControlName="timeFirstSymptoms"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Arzt aufgesucht?</ion-label>
            <ion-checkbox slot="end" formControlName="visitedDoctor" [checked]="false"></ion-checkbox>
          </ion-item>
        </ion-list>

        <div class="disease-check-inform" [attr.disabled]="diseaseFormGroup.invalid ? true : null">
          <ion-row>
            <ion-col size="12">
              <div class="disease-check-inform__title" [innerHTML]="getInformText((directContacts$ | async).length)"></div>
            </ion-col>
            <ion-col size="6" class="disease-check-inform__button disease-check-inform__button--secondary">
              <ion-button appPreventDoubleClick (throttledClick)="submitForm(false)" [throttleTime]="700">
                Nein
              </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-align-self-end disease-check-inform__button">
              <ion-button appPreventDoubleClick (throttledClick)="submitForm(true)" [throttleTime]="700">
                Ja
              </ion-button>
            </ion-col>
          </ion-row>
      </div>
      </form>
    </div>
  </div>
</ion-grid>