<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="activity">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Aktivität</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab--center">
      <button (click)="addActivitySheet.openBottomSheet()">
        <slot>
          <ion-icon class="tab--center__icon" name="add-circle-outline"></ion-icon>
        </slot>
      </button>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<app-add-activity #addActivity></app-add-activity>
