.contact-form {

    &__title {
        font-weight: bold;
        padding-left: 1rem;
        color: blue($color: #000000)
    }

    &__contact-select {
        color: var(--ion-placeholder-color,var(--ion-color-step-400,#999));

        &--active {
            color: var(--text-color);
        }
    }
}