<form [formGroup]="contactFormGroup">
  <div class="contact-form__title">{{'addActivity.forms.contact.title' | translate}}</div>

  <ion-item lines="full" button (click)="showContactSelect()">
      <ion-label>{{'addActivity.forms.contact.contactSelect' | translate}}</ion-label>
      <ion-text 
      slot="end" 
      class="contact-form__contact-select" 
      [ngClass]="{'contact-form__contact-select--active': contactFormGroup.value.contacts.length > 0}">
        {{getContactText()}}
      </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>{{'addActivity.forms.contact.time' | translate}}</ion-label>
    <ion-datetime 
    displayFormat="HH:mm"
    [placeholder]="'timePlaceholder' | translate" 
    [cancelText]="'cancelText' | translate" 
    [doneText]="'doneText' | translate" 
    formControlName="from"></ion-datetime>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="contactFormGroup.valid" (click)="submitForm()">
    <ion-fab-button>
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</form>
