@import "../../../../styles/functions/media-queries";

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --ion-toolbar-background-color: transparent;
  --ion-toolbar-text-color: white;

  ion-icon {
    font-size: 24px;
  }
}

ion-header {
  box-shadow: none;
}


ion-toolbar ion-icon.arrow-anim  {
  font-size: 19px;
  vertical-align: middle;
  animation: arrow-move 1.5s ease-in-out infinite;
}

@keyframes arrow-move {
  0% { transform: translateX(5px) }
  50% { transform: translateX(15px) }
  100% { transform: translateX(5px); }
}


.img-feed {

  &__title {
    font-size: 14px;
    //color: var(--light-grey);
    color: #EAEAEA;
  }
}

ion-slide {
  margin: 0 auto;
  height: 100vh;
}

.img-post {

  ion-button {
    position: absolute;
    top: 81.0%;
    height: 40px;
    z-index: 4;
  }

  &__img {
    //height: 640px;
    //width: 360px;
    height: 88%;
    width: 98%;
    background-color: var(--dark-grey-2);
    border-radius: 12px;
    object-fit: cover;
    background-size: cover;
    top: 4px;
    position: absolute;

    @include small-mobile() {
      height: 85%;
    }
  }

  &__react {
    --padding-end: 10px;
    --padding-start: 10px;
    width: 40px;
    right: 33%;
    margin-right: 10px;

    ion-icon {
      transform: rotate(21deg);
    }
  }

  &__likes {
    right: 5%;
    --background: var(--light-grey-2);
    color: var(--dark-grey-2);

    transition: all 0.3s ease-in;
  }

  &__likes:hover {
    color: var(--ion-color-primary);
  }

  @include small-mobile() {
    ion-button {
      top: 77.0%;
    }

    &__react {
      right: 38%;
    }
  }

  @include iphoneX() {
    ion-button {
      top: 80.0%;
    }

    &__react {
      right: 35%;
    }
  }

  @include iphonePlus() {
    &__react {
      right: 33%;
    }
  }

  @include iphone() {
    &__react {
      right: 35%;
    }
  }
}

.img-post-details {
  z-index: 1;
  position: relative;
  padding: 15px;
  top: -38px;
  height: 90%;
  font-size: 14px;
  color: rgba(255,255,255,0.5);
  box-shadow: inset 0 100px 60px -50px rgba(0,0,0,0.4);

  ion-text {
    vertical-align: text-bottom;
  }

  ion-icon {
    margin-right: 5px;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    background-color: #EAEAEA;
  }

  &__name {
    font-weight: bold;
    margin-top: 2px;
  }

  &__time, &__reactions {
    font-size: 12px;
    margin-top: 4px;
  }

}
