<ion-header>
  <ion-toolbar class="activity-toolbar">
    <ion-title>Aktivitätsverlauf</ion-title>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <div class="activity-toolbar__active">12 Aktive Kontakte</div>
        </ion-col>
        <ion-col size="6" class="ion-align-self-end">
          <div class="activity-toolbar__contacts">
            <ion-avatar>
              <img src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg">
            </ion-avatar>
            <ion-avatar>
              <img src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg">
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <app-timeline [timeline]="timeline$ | async"></app-timeline>
</ion-content>
