<ion-header>
  <ion-toolbar class="activity-toolbar">
    <ion-title>Aktivitätsverlauf</ion-title>
    <ion-grid *ngIf="(directContacts$ | async) as directContacts">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <div class="activity-toolbar__active">{{directContacts.length}} Aktive Kontakte</div>
        </ion-col>
        <ion-col size="6" class="ion-align-self-end">
          <div class="activity-toolbar__contacts">
            <ion-avatar *ngFor="let contact of directContacts.slice(0,3)">
              <img [src]="contact.thumbnail">
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <app-timeline [timeline]="timeline$ | async"></app-timeline>
</ion-content>
