<ion-slides pager="true" [options]="slideOpts" #slides>
  <ion-slide>
    <ion-grid>
      <ion-row class="intro-slide">
        <ion-col size="12">
          <div class="intro-slide__title">{{'pages.intro.slide1.title' | translate}}</div>
        </ion-col>
        <ion-col size="12">
          <img class="intro-slide__image" src="/assets/svg/distancing.svg">
        </ion-col>
        <ion-col size="12">
          <ion-button class="intro-slide__next" color="primary" shape="round" (click)="nextSlide()">
            {{'pages.intro.nextButtonText' | translate}}
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row class="intro-slide">
        <ion-col size="12">
          <div class="intro-slide__title">{{'pages.intro.slide2.title' | translate}}</div>
        </ion-col>
        <ion-col size="12">
          <img class="intro-slide__image" src="/assets/svg/medicine.svg">
          <!-- <img class="intro-slide__image" src="/assets/svg/sharing_1.svg"> -->
        </ion-col>
        <ion-col size="12">
          <ion-button class="intro-slide__next" color="primary" shape="round" (click)="nextSlide()">
            {{'pages.intro.nextButtonText' | translate}}
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide class="intro-slide">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="intro-slide__title">{{'pages.intro.slide3.title' | translate}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="intro-permission-item" *ngFor="let permission of neededPermissions">
        <ion-col size="12">
          <div class="intro-permission-item__title">{{ getTranslationPath(permission.langKey, 'name') | translate }}</div>
        </ion-col>
        <ion-col size="12">
          <p class="intro-permission-item__reason">{{ getTranslationPath(permission.langKey, 'reason') | translate }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button class="intro-slide__next" color="primary" shape="round" (click)="nextSlide()">
            {{'pages.intro.acceptButtonText' | translate}}
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>