.checks {
    padding-left: .5em;
    display: flex;

    ion-icon {
        margin-right: .5rem;
        font-size: 1.2rem;
        align-self: center;

        &[aria-label="log out"] {
            font-size: 1.5rem;
        }
    }
}