<div *ngIf="timeline">
  <ion-virtual-scroll [items]="timeline" class="timeline" approxItemHeight="300px">
    <div *virtualItem="let item; let itemBounds = bounds">
      <div class="timeline__day" *ngIf="isNewDay(timeline, item)">
        {{getDateFormat(item.timestamp)}}
      </div>
      <div class="timeline__container" [ngClass]="getDotClass(item.type)">
        <ng-container [ngSwitch]="true">
          <ng-container  *ngSwitchCase="isCheckIn(item.type)">
            <app-checks [event]="item" [checkIn]="true"></app-checks>
          </ng-container>
          <ng-container *ngSwitchCase="isCheckOut(item.type)">
            <app-checks [event]="item" [checkIn]="false"></app-checks>
          </ng-container>
          <ng-container *ngSwitchCase="isTravel(item.type)">
            <app-travel [event]="item"></app-travel>
          </ng-container>
          <ng-container *ngSwitchCase="isActivity(item.type)">
            <app-activity [event]="item"></app-activity>
          </ng-container>
          <ng-container *ngSwitchCase="isNote(item.type)">
            <app-note [event]="item"></app-note>
          </ng-container>
          <ng-container *ngSwitchCase="isContact(item.type)">
            <app-contact [event]="item"></app-contact>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ion-virtual-scroll>
</div>