<ion-header class="toolbar--default toolbar--center">
  <ion-toolbar class="contact-select">
    <ion-grid>
      <ion-row class="contact-select__header">
        <ion-col size="3">
          <ion-button (click)="dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-align-self-center">
          <ion-title>{{'contactSelect.title' | translate}}</ion-title>
        </ion-col>
        <ion-col size="3" class="ion-align-self-end" class="contact-select--primary">
          <ion-button (click)="dismiss()">
            {{'doneText' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-searchbar mode="ios" [placeholder]="'contactSelect.placeholder' | translate" debounce="100" inputmode="text" type="text"
            showCancelButton="never" (ionChange)="handleSearch($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="page--default">
  <ion-list *ngIf="contactsList.length > 0">
    <ion-item *ngFor="let contact of searchList; trackBy:identity" lines="full" class="item-bold">
      <ion-avatar slot="start">
        <div class="avatar-fallback" *ngIf="!contact.thumbnail"></div>
        <img [src]="contact.thumbnail | safe" *ngIf="contact.thumbnail" onerror="this.style.display='none'">
      </ion-avatar>
      <ion-label>{{contact.displayName}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="contact.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>
  <app-loader *ngIf="contactsList.length === 0" [isLoading]=true></app-loader>
</ion-content>