<ion-header class="toolbar--default toolbar--center">
  <ion-toolbar class="contact-select">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kontakte auswählen</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="dismiss()">
        Fertig
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page--default">
  <ion-list *ngIf="contactsList.length > 0">
    <ion-item *ngFor="let contact of contactsList; trackBy:identity" lines="full" class="item-bold">
      <ion-avatar slot="start">
        <div class="avatar-fallback" *ngIf="!contact.thumbnail"></div>
        <img [src]="contact.thumbnail | safe" *ngIf="contact.thumbnail" onerror="this.style.display='none'">
      </ion-avatar>
      <ion-label>{{contact.displayName}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="contact.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>
  <app-loader *ngIf="contactsList.length === 0" [isLoading]=true></app-loader>
</ion-content>
