<div class="timeline__content contact">
  <div  class="contact__avatars">
    <ion-avatar *ngFor="let contact of getContactAvatars()">
      <img [src]="contact.thumbnail">
    </ion-avatar>
    <div class="contact__text">
      <b>{{getContactName()}}</b>
      <ng-container *ngIf="this.event.contacts.length > 1">
        und <b>{{getAdditionalContacts()}}</b> weitere {{getPersonWording(getAdditionalContacts())}}
      </ng-container> 
      um <b>{{event.from}} Uhr</b> getroffen
    </div>
  </div>
</div>