<div class="timeline__content contact">
  <div class="contact__avatars">
    <ion-avatar *ngFor="let contact of getContactAvatars()">
      <img [src]="contact.thumbnail | safe" onerror="this.style.display='none'">
    </ion-avatar>
    <div class="contact__text">
      <b>{{getContactName()}}</b>
      <ng-container *ngIf="this.event.contacts.length > 1">
        <div
          [innerHTML]="'timeline.contact.multiple' | translate:{amount: getAdditionalContacts(), wording: getPersonWording(getAdditionalContacts())}">
        </div>
      </ng-container>
      <div [innerHTML]="'timeline.contact.single' | translate:{time: event.from}"></div>
    </div>
  </div>
</div>